name: check
on:
  push:
    tags-ignore: ["**"]
  pull_request:
  schedule:
    - cron: "0 8 * * *"

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: test on CPython ${{ matrix.py }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.12.0-rc.1"
          - "3.11"
          - "3.10"
          - 3.9
          - 3.8
    steps:
      - name: setup python for tox
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: install tox
        run: python -m pip install tox
      - uses: actions/checkout@v4
      - name: setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py }}
      - name: Pick environment to run
        run: |
          import codecs; import os; import sys
          env = f"TOXENV=py3{sys.version_info[1]}\n"
          print("Picked:\n{env}for{sys.version}")
          with codecs.open(os.environ["GITHUB_ENV"], "a", "utf-8") as file_handler:
               file_handler.write(env)
        shell: python
      - name: setup test suite
        run: tox -vv --notest
      - name: run test suite
        run: tox --skip-pkg-install
        env:
          PYTEST_ADDOPTS: "-vv --durations=20"
          CI_RUN: "yes"
          DIFF_AGAINST: HEAD

  check:
    name: tox env ${{ matrix.tox_env }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tox_env:
          - type
          - dev
          - pkg_meta
    steps:
      - uses: actions/checkout@v4
      - name: setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: install tox
        run: python -m pip install tox
      - name: run check for ${{ matrix.tox_env }}
        run: python -m tox -e ${{ matrix.tox_env }}
        env:
          UPGRADE_ADVISORY: "yes"
